symbolset:
	name=score
	lib=/home/development/rtems/leon3/sparc-rtems4.12/c/leon3/cpukit/score/libscore.a
symbolset:
	name=filesystems
	lib=/home/development/rtems/leon3/sparc-rtems4.12/c/leon3/cpukit/libfs/libdevfs.a
	lib=/home/development/rtems/leon3/sparc-rtems4.12/c/leon3/cpukit/libfs/libdosfs.a
	lib=/home/development/rtems/leon3/sparc-rtems4.12/c/leon3/cpukit/libfs/libimfs.a
	lib=/home/development/rtems/leon3/sparc-rtems4.12/c/leon3/cpukit/libfs/librfs.a
	lib=/home/development/rtems/leon3/sparc-rtems4.12/c/leon3/cpukit/libfs/libjffs2.a
	lib=/home/development/rtems/leon3/sparc-rtems4.12/c/leon3/cpukit/libfs/libdefaultfs.a
