symbolset:
	name=core
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/score/libscore.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/sapi/libsapi.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/rtems/librtems.a
symbolset:
	name=developmental
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/score/libscore.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/sapi/libsapi.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/rtems/librtems.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libfs/librfs.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libfs/libdosfs.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libfs/libdevfs.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libfs/libimfs.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libcsupport/libcsupport.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libstackchk.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libfsmount.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libbspcmdline.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libcpuuse.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libfsmount.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libstringto.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libdevnull.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libdumpbuf.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libblock/libblock.a
symbolset:
	name=score
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/score/libscore.a
symbolset:
	name=sapi
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/sapi/libsapi.a
symbolset:
	name=rtems
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/rtems/librtems.a
symbolset:
	name=filesystems
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libfs/libdevfs.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libfs/libdosfs.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libfs/libimfs.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libfs/librfs.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libfs/libjffs2.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libfs/libdefaultfs.a
symbolset:
	name=libmisc
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libstackchk.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libfsmount.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libbspcmdline.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libcpuuse.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libfsmount.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libstringto.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libdevnull.a
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libmisc/libdumpbuf.a
symbolset:
	name=libcsupport
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libcsupport/libcsupport.a
symbolset:
	name=libblock
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/libblock/libblock.a
symbolset:
	name=posix
	lib=/home/hf/development/rtems/b-leon2/sparc-rtems4.11/c/leon2/cpukit/posix/libposix.a
